@{
    ViewData["Title"] = "Tutorial swagger";
    Layout = null;
}
<link rel="stylesheet" href="~/reveal-js/reveal.css">
<link rel="stylesheet" href="~/reveal-js/theme/sniiv-theme.css" id="theme">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
    .container {
        display: grid;
        grid-auto-flow: column;
    }
   
</style>

<div class="reveal">
    <div class="slides">
        <section>
            <section id="fit-text">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <h4 style="color: #0C231E !important;">Tutorial para Catálogo de API's'</h4>
                <p style="font-size:30px;">
                    El catálogo de API's' es una herramienta para desarrolladores  o analistas que requieren la automatización del proceso de extracción de información mediante filtros
                </p>

                <img src="~/img/cubo/nor1.png">
            </section>

            <section id="clickswa">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <h4 style="color: #0C231E !important;">Tutorial para Catálogo de API's</h4>
                <p style="font-size:30px;">
                    Debe dar click en el botón "CATÁLOGO DE API'S"
                </p>

                <img src="~/img/cubo/nor2.png">

            </section>

            <section id="clickswa2">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <p style="font-size:30px;">
                    En la herramienta Swagger, vamos a poder interactuar con el catálogo de API's disponibles.
                    Con el scroll de la página (rojo) podrá navegar entre las secciones. Asimismo tendrá la opción (verde) de contraer los catálogos por sección.
                </p>
                <img src="~/img/cubo/nor3.png">
            </section>

            <section id="clickswa3">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <p style="font-size:30px;">
                    Una vez que se identifica el modúlo deseado (verde), debemos expandir la sección (rojo).
                </p>
                <img src="~/img/cubo/nor4.png">
            </section>

            <section id="clickswa3">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <p style="font-size:30px;">
                    En el primer módulo se visualizaran los parametros necesarios (verde) para ejecutar la consulta del servicio seleccionado. Asimismo se tendrá la opción de probar el servicio (rojo).
                </p>
                <img src="~/img/cubo/nor5.png">
            </section>

            <section id="clickswa3">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <p style="font-size:30px;">
                    Ingresamos las variables (verde) con las que se desea ejecutar la consulta, y se ejecutar el servicio de prueba.
                </p>
                <img src="~/img/cubo/nor6.png">
            </section>

            <section id="clickswa3">
                <img src="~/img/sedatusniiv01.png" style="width: 100%;">
                <p style="font-size:30px;">
                    Una vez ejecutado, obtenemos la respuesta del servicio, en el que podemos consultar desde la liga con la información del servicio y de manera grafica con posibilidad de copiar o descargar. 
                </p>
                <img src="~/img/cubo/nor7.png">
            </section>


            <section data-auto-animate>
                <img src="~/img/cubo/flecha.gif" style=" width: 40%;">
                <h3> Da clic en el botón para cerrar el tutorial</h3>
                <img src="~/img/sedatusniiv01.png" style=" width: 100%;">


            </section>



        </section>


    </div>
</div>

<script src="~/reveal-js/reveal.js"></script>
<script>
    Reveal.initialize({
        controlsLayout: 'bottom-right',
        touch: false,
        center: true,
        hash: true,
    });</script>