@model sniiv.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts{
    <link rel="stylesheet" href="../css/signin.css" type="text/css" />
}
<!--LOGIN-->
<div class="row">
    <h3 class="form-signin-heading text-center text-success">Bienvenido </h3>
</div>

<div class="form-signin">
    <h2 class="form-signin-heading">Datos de acceso</h2>
    

        
    <!--
    <asp:Label ID="lblUsr" runat="server" Text="Usuario" class="sr-only"></asp:Label>
    <asp:TextBox ID="txtUsr" runat="server" class="form-control" placeholder="Usuario" autofocus required></asp:TextBox>
    <asp:Label ID="lblPass" runat="server" Text="Contraseña" class="sr-only"></asp:Label>
    <asp:TextBox ID="txtPass" runat="server" class="form-control" placeholder="Contraseña" TextMode="Password" required></asp:TextBox>
    <br />
    <asp:Button runat="server" ID="btnEntrar" Text="Entrar" class="btn btn-lg btn-primary btn-block" OnClick="btnEntrar_Click" />
    <asp:Panel ID="pnl_alerta" runat="server" Visible="false" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <asp:Label ID="lbl_alerta" runat="server" Text=""></asp:Label>
    </asp:Panel>-->

</div>