@{
    ViewData["Title"] = "Empleo";
}

@section Scripts
{
    <script src="~/js/util.js" type="text/javascript"></script>
}

<div class="page-header">
    <h2>Empleos del sector vivienda</h2>
</div>

<div class="row">
    <div id="dv_iframe" class="col-md-12">
        <embed type="application/pdf" src="https://sistemas.sedatu.gob.mx/repositorio/proxy/alfresco-noauth/api/internal/shared/node/ZbAJ2fONT42KApZ-fiaUYg/content/empleo.pdf?a=true" style="width: 100%; height: 1450px" frameborder="0" />
    </div>
</div>